$textdarkgray: rgb(65, 65, 65);
$cardWidth: 350px;
$imgHeight: 250px;
$nameFontSize: 1em;
$priceFontSize: 1.2em;
$color: rgb(255, 255, 0);

.productCard {
	display: flex;
	flex-direction: column;
	max-width: $cardWidth;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	margin: 1em;
	border-radius: 0.5em;
	overflow: hidden;
	cursor: pointer;

	&__img {
		object-fit: cover;
		height: $imgHeight;
		width: $cardWidth;
	}

	&__name {
		font-weight: 500;
		color: $textdarkgray;
		font-size: $nameFontSize;
		padding-left: 10px;
	}

	&__rating {
		margin-top: -10px;
		padding-left: 10px;
	}

	&__price {
		font-weight: 700;
		color: $textdarkgray;
		font-size: $priceFontSize;
		padding-left: 10px;
		margin-top: 5px;
	}
}
